{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<div class="container my-5">
    <div class="bg-light p-5 rounded">
      <img src="{% static 'img/logo.png' %}" width="400" height="341" class="rounded float-start" alt="...">
      <div class="col-sm-8 py-5 mx-auto">        
        <h1 class="display-5 fw-normal">Asoarte</h1>
        <p class="fs-5">¡Bienvenido a nuestra comunidad de artesanos!.
          Nosotros somos Asoarte, asociacion de artesanos del atlántico, nuestra comunidad reúne a talentosos artistas y artesanos de diferentes disciplinas, desde joyería, ensartado, cerámica, tejido, bordaje y hasta esculturas.
          <p class="fs-5">Explora nuestro espacio virtual donde podrás descubrir piezas únicas y auténticas creadas con amor y dedicación para ti, cada artesanía es tradicional de nuestras tierras, donde cada objeto cuenta una historia y refleja la singularidad de su creador.
        <p>
          <a class="btn btn-primary" href="/docs/5.2/components/navbar/#offcanvas" role="button">Leer más »</a>
        </p>
    </div>
    </div>
  </div>
{% endblock contenido %}